/* line 1, ../scss/components/_style.scss */
.sections-container {
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 60%;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: palegreen;
}

/* line 13, ../scss/components/_style.scss */
.section {
  height: 10%;
  text-align: center;
  font-size: 22px;
  margin: auto;
  padding-top: 2%;
}

/* line 21, ../scss/components/_style.scss */
.section-1 {
  background-color: cadetblue;
  background-color: red;
}

/* line 26, ../scss/components/_style.scss */
.section-2 {
  background-color: peru;
}

/* line 30, ../scss/components/_style.scss */
.section-3 {
  background-color: yellow;
}

/* line 38, ../scss/components/_style.scss */
.interSection {
  margin: 0;
}

/* line 42, ../scss/components/_style.scss */
.content-1 {
  background-color: #89a095;
}

/* line 46, ../scss/components/_style.scss */
.content-2 {
  background-color: #cdad74;
}

/* line 50, ../scss/components/_style.scss */
.content-3 {
  background-color: #dedc8c;
}

/* line 54, ../scss/components/_style.scss */
.hidden {
  display: none;
}

/* line 58, ../scss/components/_style.scss */
.colorHidden {
  color: #89a095;
}
